/*
Theme Name: Clever Course
Theme URI: #
Description: my first theme
Author: Santonica
Author URI: #
Version: 1.0
*/

*{
    margin: 0;
    padding: 0;
}
.clearfix:after{
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
    content: '';
}

/* Theme styles */

body {
    padding-top: 120px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: #a4a4a4;
}

body * {
    border-color: #e9e9e9;
}

.footer-main {
    position: absolute;
    bottom: 0;
}

img, video {
    max-width: 100%;
    /*height: auto;*/
    width: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
}

.content-wrapper {
    position: relative;
    z-index: 89;
}

.no-padding {
    padding: 0;
}

a:hover {
    text-decoration: none;
}

.top-nav-container {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.main-nav-container {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-variant: small-caps;
    padding-top: 5px;
    padding-bottom: 10px;
}

.glyphicon {
    margin-right: 10px;
}

.navbar-search {
    margin-left: 10px;
    padding: 15px;
    cursor: pointer;
    line-height: 1;
}

.slider {
    padding: 0;
}

.slider img {
    width: 100%;
}

.services-wrapper {
    background-color: #ffffff;
    padding-top: 75px;
    padding-bottom: 45px;
}

.service-item {
    margin: 0px 15px 20px;
    min-height: 1px;
    text-align: center;
}

.service-title {
    margin-bottom: 16px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}

.service-content {
    color: #909090;
}

.stunning-text-wraper {
    background-color: #f5f5f5;
    padding-top: 40px;
    padding-bottom: 20px;
}

.stunning-text-item {
    padding-right: 190px;
    position: relative;
    margin: 0px 15px 20px;
    min-height: 1px;
}

.stunning-text-title {
    font-size: 22px;
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    color: #414141;
}

.stunning-text-content {
    color: #949494;
}

.stunning-text-button {
    background-color: #555555;
    color: #ffffff;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -22px;
    margin-right: 0px;
    display: inline-block;
    font-size: 12px;
    padding: 15px 23px;
    margin-bottom: 15px;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    border: none;
}

.stunning-text-button:hover {
    color: #ffffff;
}

.recent-courses-wrapper {
    background-color: #ffffff;
    padding-top: 90px;
    padding-bottom: 60px;
}

.recent-courses-title-wrapper {
    text-align: center;
    margin-bottom: 40px;
    margin: 0px 15px 20px;
    min-height: 1px;
}

.course-image img {
    width: 100%;
}

.recent-courses-title {
    vertical-align: middle;
    font-size: 25px;
    margin-bottom: 0px;
    line-height: 1;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 600;
    letter-spacing: 2px;
    color: #292929;
}

.recent-courses-title-wrapper a {
    color: #72d5cd;
    margin-top: 10px;
    display: block;
}

.row-flex, .row-flex > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}

.row-flex-wrap {
    -webkit-flex-flow: row wrap;
    align-content: flex-start;
    flex:0;
}

.row-flex > div[class*='col-'] {
    margin:-.2px; /* hack adjust for wrapping */
}

.course-item {
    background-color: #f5f5f5;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #95e0da;
    color: #212121;
}

.course-content-wrapper {
    padding: 26px 25px;
}

.course-title {
    font-family: "Raleway";
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 5px 0px 20px;
    letter-spacing: 2px;
}

.course-title a,
.course-title a:hover {
    color: #212121;
}

.course-price {
    float: left;
    margin: 0px;
}

.price-button {
    background-color: #71cbde;
    color: #ffffff;
    display: inline-block;
    padding: 6px 18px;
    font-weight: bold;
    font-size: 14px;
}

.course-info {
    color: #a4a4a4;
    float: right;
    margin: 5px 0px 0px;
    font-size: 13px;
    text-transform: uppercase;
}

.glyphicon-time {
    margin-right: 8px;
    display: inline-block;
}

.search-wrapper {
    padding-top: 130px;
    padding-bottom: 90px;
    /*background-image: url('img/search1-bg.jpg');*/
    color: #ffffff;
    overflow: hidden;
    background-position: center 0px;
    background-repeat: repeat;
    position: relative;
}

.search-title-wrapper {
    text-align: center;
    margin: 0px 15px 20px;
    margin-bottom: 40px;
    min-height: 1px;
    color: #ffffff;
}

.search-title {
    font-family: "Raleway";
    font-size: 25px;
    margin-bottom: 0px;
    line-height: 1;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 600;
    letter-spacing: 2px;
    vertical-align: middle;
}

.title-devider {
    margin-left: auto;
    margin-right: auto;
    width: 30px;
    margin-top: 25px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.search-title-caption {
    color: #b7b7b7;
    margin-top: 25px;
    font-size: 14px;
    letter-spacing: 1px;
}

.course-search-wrapper {
    max-width: 980px;
    margin: 0px auto;
    padding-top: 60px;
    color: #acacac;
}

.course-search-column-1,
.course-search-column-2 {
  width: 18%;
  float: left;
  margin-right: 2%;
}

.course-search-column-3 {
  width: 45%;
  float: left;
  margin-right: 2%;
}

.course-search-wrapper input[type="text"] {
    /*padding: 14px 3%;*/
    background-color: #fff;
  }

.search-button {
  width: 10%;
  margin-top: 0px;
  color: #ffffff;
  background-color: #72d5cd;
}

.page-content-wrapper {
    background-color: #ffffff;
    padding-top: 90px;
    padding-bottom: 30px;
}

.content-title-wrapper {
    margin: 0px 15px 20px;
    min-height: 1px;
    margin-bottom: 40px;
}

.content-title-head {
    display: inline-block;
    margin-right: 12px;
}

.content-title {
    color: #292929;
    font-size: 18px;
    margin-bottom: 0px;
    line-height: 1;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: "Raleway";
}

.blog-title-link {
    color: #72d5cd;
    display: inline-block;
    margin-top: 0px;
}

.blog-title-link:hover {
    color: #72d5cd;
}

.blog-item {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: #95e0da;
    background-color: #f5f5f5;
    margin: 0px 15px 20px;
    min-height: 1px;
    padding: 20px;
    min-height: 55px;
}

.blog-thumbnail {
    width: 60px;
    float: left;
    margin-right: 20px;
    position: relative;
}

.post-header {
    overflow: hidden;
}

.blog-item-title {
    font-size: 13px;
    margin-bottom: 5px;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    color: #424242;
}

.blog-item-title a:hover {
    color: #72d5cd;
}

.blog-item-date {
    float: left;
    margin-right: 20px;
    color: #aeaeae;
}

.blog-item-title a {
    color: #424242;
}

.blog-item-date a {
    color: #aeaeae;
}

.content-item-wrapper {
    margin: 0px 15px 20px;
    min-height: 1px;
}

/*заглушка*/
.video-wrapper {
    width: 100%;
    position: relative;
    padding: 0;
}

.content-item-wrapper h4 {
    color: #454545;
    font-size: 16px;
    font-family: "Raleway";
    line-height: 1.5;
    margin-bottom: 18px;
    font-weight: 600;
}

.instructor-content {
    margin: 0 15px 40px;
    color: #a4a4a4;
    text-align: center;
    padding: 40px 20px 0px;
    background-color: #f5f5f5;
}

.instructor-thumbnail {
    width: 115px;
    max-width: 100%;
    overflow: hidden;
    margin: 0px auto 20px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.instructor-title-wrapper {
    margin-bottom: 20px;
    text-align: center;
}

.instructor-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 2px;
    color: #72d5cd;
}

.instructor-position {
    font-size: 15px;
    color: #888888;
}

.instructor-description {
    margin-bottom: 25px;
    color: #a9a9a9;
}

.instructor-button {
    border-color: #65b4ad;
    background-color: #72d5cd;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 11px;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    padding: 14px 25px 14px;
    border-width: 0px 0px 3px;
    border-bottom-style: solid;
    letter-spacing: 1px;
}

.instructor-button:hover {
    color: #ffffff;
}

.popular-courses, .testimonial-wrapper {
    background-color: #ffffff;
    padding-top: 85px;
    padding-bottom: 60px;
}

.testimonial-wrapper {
    background-color: #f5f5f5;
}

.popular-courses-title-wrapper {
    text-align: center;
    margin: 0px 15px 50px;
    min-height: 1px;
}

.popular-courses-title {
    color: #292929;
    vertical-align: middle;
    font-size: 25px;
    margin-bottom: 0px;
    line-height: 1;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 600;
    letter-spacing: 2px;
}

.popular-courses-title-devider {
    margin-left: auto;
    margin-right: auto;
    width: 30px;
    margin-top: 25px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #333333;
}

.popular-courses-title-caption {
    margin-top: 25px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #a4a4a4;
    text-transform: none;
}

.twitter {
    background-color: #72d5cd;
    padding-top: 50px;
    padding-bottom: 20px;
    color: #ffffff;
}

.twitter-title-wrapper {
    text-align: center;
    margin: 0px 15px 30px;
    min-height: 1px;
}

.twitter-title {
    margin-left: auto;
    margin-right: auto;
    width: 40px;
}

.twitter-item {
    margin: 0px 15px 20px;
    min-height: 1px;
    color: #ffffff;
    text-align: center;
}

.footer-wrapper {
    color: #bfbfbf;
    background-color: #262626;
}

.footer-container {
    padding-top: 60px;
}

.widget-text,
.recent-post-widget,
.tag-cloud-widget,
.recent-entriens-widget,
.footer-widget {
    margin: 0 15px 60px;
    min-height: 1px;
}

.widget-title {
    color: #dddddd;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
    font-weight: 700;
}

.recent-post-widget-item {
    margin-bottom: 15px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 15px;
    border-color: #363636;
}

.recent-post-widget-thumbnail {
    max-width: 70px;
    float: left;
    margin-right: 15px;
}

.recent-post-widget-item-content {
    overflow: hidden;
    margin-top: 5px;
}

.recent-post-widget-title {
    font-size: 14px;
    margin-bottom: 6px;
    margin-top: 2px;
}

.recent-post-widget-title a,
.recent-post-widget-date a {
    color: #7f7f7f;
}

.recent-post-widget-title a:hover,
.recent-post-widget-date a:hover,
.recent-entriens-widget a:hover {
    color: #cecece;
}

.recent-post-widget-date {
    line-height: 22px;
}

.recent-post-widget-date span {
    margin-right: 3px;
    color: #575757;
}

.taglink:hover {
    background-color: #A4DAD6;
    color: #4D938E;
}

.widget-text ul {
    position: relative;
    list-style: none;
    margin-left: 0px;
    margin-bottom: 20px;
    padding: 0;
}

.widget-text ul li {
    margin-bottom: 10px;
    padding-left: 25px;
    line-height: 20px;
    padding-bottom: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #363636;
}

.widget-text ul li:before {
    content: "> ";
}

.widget-text a {
    color: #7f7f7f;
}

.tagcloud a {
    color: #ffffff;
    background-color: #72d5cd;
    font-size: 11px !important;
    display: block;
    float: left;
    padding: 5px 10px;
    margin-right: 7px;
    margin-top: 7px;
    border: 0px solid;
    border-color: inherit;
    font-weight: bold;
    text-transform: uppercase;
}

.copyright-wrapper {
    background-color: #0f0f0f;
    color: #828282;
    border-top-width: 1px;
    border-top-style: solid;
}

.copyright-container {
    padding: 15px 0px;
}

.copyright-left {
    margin: 0px 15px;
    float: left;
}

.copyright-right {
    margin: 0px 15px;
    float: right;
}

/* Instructors */

.page-title-wrapper {
    padding: 70px 0px 60px;
    position: relative;
    z-index: 89;
    text-align: center;
    line-height: 1;
    background-image: url('img/page-title-background.jpg');
    background-repeat: repeat;
    background-position: center;
}

.page-title-overlay {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: #000;
    opacity: 0.70;
}

.page-title {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0px 20px;
    display: block;
    color: #ffffff;
}

.page-title-container {
    position: relative;
}

.instructor-container {
    padding-top: 70px;
    margin-bottom: 30px;
}

.page-caption {
    font-size: 14px;
    margin: 15px 20px 0px;
    display: block;
    font-weight: normal;
    color: #ffffff;
}

/* 404 */

.page-not-found-block {
    margin: 0px 15px 20px;
    min-height: 1px;
    color: #ffffff;
    background-color: #d65938;
    text-align: center;
    padding: 50px 50px 60px;
    margin: 50px 0px 50px;
}

.page-not-found-icon {
    font-size: 89px;
    line-height: 1;
    margin-bottom: 20px;
}

.page-not-found-title {
    font-size: 45px;
    line-height: 1;
    margin-bottom: 17px;
}

.page-not-found-caption {
    font-size: 20px;
    margin-bottom: 35px;
}

.page-not-found-search {
    max-width: 300px;
    margin: 0px auto;
}

/* single */

.post-single {
    padding: 50px;
    position: relative;
}

.post-single-title {
    font-size: 1.7em;
    line-height: 1;
    margin: 0;
    padding: 0;
    color: #454545;
    font-weight: 600;
}

.single-post-date {
    font-style: normal;
    font-weight: 700;
    font-size: 41px;
}
.post-image {
    margin: 0 0 20px;
}

.post-content {
    max-width: 100%;
    padding: 0;
    width: 100%;
}

/* Archive */

.archive-container {
    padding-top: 70px;
}

.archive-item {
    margin-bottom: 50px;
}

.archive-item-thumbnail {
    margin-bottom: 28px;
    position: relative;
}

.archive-item-title {
    font-size: 19px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #424242;
}

.archive-item-title a {
    color: #424242;
}

.archive-item-title a:hover {
    color: #72d5cd;
}

.archive-item-info {
    font-size: 14px;
    margin-bottom: 20px;
}

.archive-item-date,
.archive-item-tag,
.archive-item-comment {
    margin-bottom: 3px;
    color: #aeaeae;
}

.archive-item-info span {
    margin-right: 10px;
    color: #575757;
}

.archive-item-info a {
    color: #aeaeae;
}

.archive-item-info a:hover {
    color: #aeaeae;
}

.archive-item-content {
    margin-bottom: 0px;
}

.button-read-more {
    margin: 25px 0px 0px;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-color: #66b0ab;
    background-color: #72d5cd;
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    padding: 15px 23px;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.button-read-more:hover {
    color: #ffffff;
}

.navbar-form {
    color: #0f0f0f;
}

.flexslider-tw {
    background-color: #72d5cd;
}

.acf-map {
    width: 100%;
    height: 400px;
    border: #ccc solid 1px;
}

.container-contact {
    margin-top: 60px;
}

.contact-title {
    font-weight: bold;
    color: #454545;
    font-size: 21px;
    font-family: "Raleway";
    text-transform: none;
    margin-bottom: 18px;
}

.contact-right {
    color: #383838;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 25px;
}

.wpcf7 input[type="text"], .wpcf7 input[type="email"], .wpcf7 input[type="password"], .wpcf7 textarea {
    padding: 16px 19px;
    width: 100%;
    font-size: 13px;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
    color: #b5b5b5;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
    background-color: #f5f5f5;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
    border: 0;
    outline: none;
    max-width: 100%;
}

.wpcf7-form label {
    width: 100%;
}

.wpcf7 span.wpcf7-form-control-wrap {
    display: block;
    padding-right: 46px;
    margin-top: 7px;
}

.wpcf7 input[type="submit"] {
    padding: 10px 20px;
    letter-spacing: 0;
    text-transform: none;
    background-color: #72d5cd;
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    margin-bottom: 15px;
    margin-right: 5px;
    outline: none;
    cursor: pointer;
    font-weight: 700;
    border: none;
}

